/* This file is only for overriding custom classes */

/* This override prevents the "official website of.. " text
  centered.
*/
a {
  color: #005ea2;
}
.usa-prose {
  font-family: 'Public Sans', sans-serif;
}

.usa-prose > h2, .usa-prose > h3 {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.95rem;
  line-height: 1.2;
  font-weight: bold;
}

.usa-prose > * + p {
  margin-top: 0.5rem;
}

.usa-banner__inner,
.usa-banner__header--expanded{
  margin-left: 0;
  margin-right: 0;
}

/* This override prevents the centering of content on expand.  */
.usa-banner__content, .usa-nav__inner {
  margin: 0;
  padding-left: 32px !important;
  padding-right: 0 !important;
}


.usa-header {
  background-color: #252f3e;  
}

/* Changes to the header */
@media (min-width: 64em) {
  .usa-header--basic .usa-navbar {
    width: 100%;
    height: 80px;
    display: flex;
  }

  .usa-nav-container {
    padding: auto 20px;
    max-width: 100%;
  }

  .main-content {
    margin: 0 18em;
    margin-top: 2.5rem;
  }
}

.usa-media-block__body {
  flex: 1 1 0%;
}

.usa-nav__primary {
  padding-left: 30px;
}

.site-sidenav.usa-sidenav .usa-sidenav__sublist {
  font-size: .85rem;
}

.site-sidenav.usa-sidenav .usa-current::after {
  border-radius: 0;
  background-color: #2672de;
  bottom: -1px;
  left: -2px;
  top: 0;
  z-index: 100;
}

.site-sidenav.usa-sidenav {
  font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: .94rem;
  line-height: 1.4;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  padding: 0;
}

.usa-sidenav__sublist {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-size: 1rem;
}

@media (min-width: 64em){
.sidenav {
    display: block;
    float: left;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding-right: 0;
    padding-left: 2rem;
    width: 15rem;
  }

  .usa-nav .usa-search {
    margin: auto 1rem;
  }

  .site-header .site-logo .usa-logo__text {
    display: inherit;
    letter-spacing: -.01em;
}
}

.usa-nav {
  margin: auto;
}

.site-page-title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.site-text-intro {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}

.site-subheading {
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: .81rem;
  color: rgba(0,0,0,.6);
  letter-spacing: .025em;
  margin-bottom: .5rem;
  margin-top: 0;
}

.usa-button--outline > span{
  color: white;
}

.usa-logo {
  align-items: center;
  display: flex; 
  flex: 3;
  margin: auto;
}

.usa-logo a{
  color: white;
  width: 300px;
}

.usa-logo__text{
  font-size: 20px;
  line-height: 72px;
}

.logo {
  display: inline-block;
  height: 1.5em;
  margin-right: 5px;
}

.usa-menu-btn {
  height: 47px;
}

.header-right {
  margin-left: auto;
  margin-right: 32px;
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-between;
}

.button-website {
  color: #e5a000;
  box-shadow: inset 0 0 0 2px #e5a000;
}

.button-download {
  color: lightgray;
  box-shadow: inset 0 0 0 2px lightgrey;
}