/* This file is only for overriding custom classes */

/* This override prevents the "official website of.. " text
  centered.
*/

.usa-banner__inner,
.usa-banner__header--expanded{
  margin-left: 0;
  margin-right: 0;
}

/* This override prevents the centering of content on expand.  */
.usa-banner__content, usa-nav__inner {
  margin: 0;
  padding-left: 32px !important;
  padding-right: 0 !important;
}


.usa-header {
  background-color: #252f3e;  
}



/* Changes to the header */
@media (min-width: 64em) {
  .usa-header--basic .usa-navbar {
    width: 100%;
    height: 80px;
    display: flex;
  }

  .usa-nav-container {
    padding: auto 20px;
    max-width: 100%;
  }
}

@media (min-width: 64em){
.sidenav {
    display: block;
    float: left;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding-right: 0;
    padding-left: 2rem;
    width: 15rem;
}
}

.usa-nav {
  margin: auto;
}

.usa-button--outline > span{
  color: white;
}

.usa-logo {
  align-items: center;
  display: flex; 
  flex: 3;
  margin: auto;
}

.usa-logo a{
  color: white;
}

.logo {
  display: inline-block;
  height: 2em;
  margin-right: 5px;
}

.usa-menu-btn {
  height: 47px;
}

.header-right {
  margin-left: auto;
  margin-right: 32px;
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-between;
}

.button-website {
  color: #e5a000;
  box-shadow: inset 0 0 0 2px #e5a000;
}

.button-download {
  color: lightgray;
  box-shadow: inset 0 0 0 2px lightgrey;
}