/* This file is only for overriding custom classes */

/* This override prevents the "official website of.. " text
  centered.
*/
.usa-banner__inner,
.usa-banner__header--expanded{
  margin-left: 0;
  margin-right: 0;
}

/* This override prevents the centering of content on expand.  */
.usa-banner__content, .usa-nav__inner {
  margin: 0;
  padding-left: 32px !important;
  padding-right: 0 !important;
}


/* ///// text-related changes ///// */

a {
  color: #005ea2;
}

.usa-prose {
  font-family: 'Public Sans', sans-serif;
  margin-bottom: 3em;
}

.usa-prose > h2, .usa-prose > h3 {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.95rem;
  line-height: 1.2;
  font-weight: bold;
}

.usa-prose > * + p {
  margin-top: 0.5rem;
}

h3 {
  font-size: 20px !important;
}

h4 {
  font-family: 'Public Sans', sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  text-transform: uppercase !important;
}



/* Changes to the header */
@media (min-width: 64em) {
  .usa-header--basic .usa-navbar {
    width: 100%;
    height: 80px;
    display: flex;
  }

  .usa-nav-container {
    padding: auto 20px;
    max-width: 100%;
  }

  .main-content {
    margin: 0 18em;
    margin-top: 2.5rem;
  }

  .navbar--container {
    align-items: center;
    display: flex;
    float: right;
    height: 5rem;
  }
}

.usa-media-block__body {
  flex: 1 1 0%;
}

/* subheader below global nav */
.usa-nav__primary {
  padding-left: 30px;
}

.usa-nav__link > span {
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}

.site-nav-secondary {
  background-color: white;
}



/* Side nav */
@media (min-width: 64em){
  .sidenav {
    display: block;
    float: left;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding-right: 0;
    padding-left: 2rem;
    width: 15rem;
  }

  /* change font size, create gray border around sidenav */
  .site-sidenav.usa-sidenav {
    font-size: 13px;
    line-height: 1.4;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: .25rem;
    padding: 0;
  }

  /* Makes the submenu sticky at web screen size. */
    .site-nav-secondary.sticky {
    z-index: 200;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

  /* blue active-state decoration on left side of side-nav */
  .site-sidenav.usa-sidenav .usa-current::after {
    border-radius: 0;
    background-color: #2672de;
    bottom: -1px;
    left: -2px;
    top: 0;
    z-index: 100;
  }

  /* change default active color to black on sidenav*/
  .usa-current{
    color: black !important;
    font-family: 'Public Sans', sans-serif !important;
  }

  /* Make inactive text in sidenav not bolded */
  .usa-current.inactive {
    font-weight: normal;
  }


/* ///// Global nav and logo ///// */

/* BG color for global nav*/
.usa-header {
  background-color: #252f3e;  
}

/* logo image */
.logo {
  height: 35px;
  margin-right: 5px;
}

/* container for logo on right side of global nav */
.usa-logo {
  align-items: center;
  display: flex; 
  flex: 3;
  margin: auto;
  
}

/* Change text color of the logo */
.usa-logo a{
  color: white;
}

/* U.S. Web Design System (USWDS) text next to logo */
.usa-logo__text{
  font-size: 20px;
  min-width: 300px;
}



/* ///// Main header on page ///// */

/* "Design Principles" main heading */
.site-page-title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

/* "Design Principles" text above the main heading on the page */
.site-subheading {
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: .81rem;
  color: rgba(0,0,0,.6);
  letter-spacing: .025em;
  margin-bottom: .5rem;
  margin-top: 0;
}

/* summary paragraph below subheading that's different from the rest of the page */
.site-text-intro {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}


/* ///// Right side of nav with search and buttons ///// */

/* Input box on search */
.usa-input {
  background-color: #13171f;
  color: #fff;
  height: 39px;
  max-width: 200px;
}

/* Search icon button height adjustment */
.search-btn {
  height: 39px !important;
}

/* container for the buttons + github logo on global nav */
.buttons {
  min-width: 450px;
  display: flex;
  align-items: center;
}

/* button colors on global nav */
.buttons .site-button-standards{
  box-shadow: inset 0 0 0 2px #e5a000;
  color: #e5a000;
  background: transparent;
}

.buttons .site-button-download {
  box-shadow: inset 0 0 0 2px rgba(255,255,255,.7);
  background-color: transparent;
  color: rgba(255,255,255,.7);
}

/* Footer stuff */
@media (min-width: 64em){
  .usa-footer__secondary-section>.grid-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer-content{
    margin-bottom: 2rem;
  }

  .usa-media-block {
    margin-right: 1rem;
  }

  .usa-identifier__container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
  }

  .usa-identifier__required-links-list {
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 40em){
  .tablet:grid-col {
      flex: 1 1 0%;
      width: auto;
      max-width: 100%;
      min-width: 1px;
  }

  .usa-identifier__section--masthead .usa-identifier__container {
    align-items: center;
    display: flex;
  }
}

.usa-footer__secondary-section {
  padding-bottom: 0;
}

.footer-text {
  margin: 0 auto;
}

.footer-section-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #252f3e;
}

.footer-section-bottom p {
  color: white;
}

.footer-section-bottom a {
  color: #adadad;
}

.usa-identifier__logo-img {
  max-width: 4rem;
  padding-right: 1rem;
}

.usa-identifier {
  font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
  background-color: #1b1b1b;
}

.usa-identifier__required-links-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.usa-identifier__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 64rem;
  margin-bottom: 1rem;
}

.usa-identifier__container.final {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.usa-identifier__required-link {
  color: #adadad;
  text-decoration: underline;
}

.usa-identifier__identity-domain{
  margin-bottom: 0;
}

.usa-identifier__identity-disclaimer{
  margin-top: 0;
  font-weight: bold;
}